#dark-mode-btn {
  margin: 1rem 1rem 0 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: xx-large;
  background: none;
}

body {
  padding: 2rem;
}

/* Add this to your style.css file */
table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}